@use '../abstract' as var;

.select-custom {
  position: relative;
}

.select-custom__dropdown-button {
  @include var.ui-select(border);
  position: relative;
  height: var.$selectCustomHeight;

  &:focus,
  &.select-custom__dropdown-button--active {
    box-shadow: 0 0 24px rgb(151, 151, 151);
  }
}

.select-custom-section {
  padding: var.$selectSectionPadding;
}

.select-custom__dropdown-button::before {
  @extend %ui-select-arrow;
}

.select-custom__dropdown-list {
  background: #fff;
  border-radius: var.$ui-border-radius;
  width: 100%;
  box-shadow: 6px 17px 59px rgb(151, 151, 151);

  position: absolute;
  z-index: 1;
  left: 0;
  top: var.$selectCustomHeight;

  cursor: pointer;

}

.hidden {
  display: none;
}

.select-custom__dropdown-list-item {
  border: var.$ui-border;
  padding: .75rem 1.25rem;
  border-bottom: 0;

  &[data-selected] {
    background: var.$selectedItemBackground;

    &:hover {
      background: var.$selectedItemBackground;
    }
  }

  &:first-child {
    border-top-left-radius: var.$ui-border-radius;
    border-top-right-radius: var.$ui-border-radius;
  }

  &:last-child {
    border-bottom: 1px solid #7E9BBD;
    border-bottom-left-radius: var.$ui-border-radius;
    border-bottom-right-radius: var.$ui-border-radius;
  }
  
  @media #{var.$mouse-device} {
    &:hover {
      background: rgba(176, 198, 225, .26);
    }
  }
}