$mouse-device: '(hover: hover) and (pointer: fine)';

$selectSectionPadding: .75rem;
$selectCustomHeight: 52px;
$ui-border-radius: 6px;
$ui-border: 1px solid #7E9BBD;
$selectedItemBackground: rgba(135,206,235,.35);